In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
from matplotlib.ticker import ScalarFormatter
import geopandas as gpd
from shapely.geometry import Point

/usr/local/lib/python3.9/site-packages/geopandas/_compat.py:112: UserWarning: The Shapely GEOS version (3.10.3-CAPI-1.16.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

In [12]:
DHS_peru = pd.read_csv("/Users/ishaarora/Desktop/peru_dhs_subset.csv")
DHS_peru

,hhid,hv001,hv005,hv021,hv022,hv023,hv206,hv207,hv208,hv209,...,hv115_10,hv115_11,hv115_12,hv115_13,hv115_14,hv115_15,hv115_16,hv115_17,hv115_18,hv115_19
0,100401,1,283495,1,1,1,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101201,1,283495,1,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,102001,1,283495,1,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,102801,1,283495,1,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,103701,1,283495,1,1,1,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27213,142605301,1426,342691,1426,50,25,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27214,142605401,1426,342691,1426,50,25,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27215,142605501,1426,342691,1426,50,25,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27216,142605601,1426,342691,1426,50,25,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27217,142605701,1426,342691,1426,50,25,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
DHS_peru['region'] = DHS_peru['hv023'].map({
1: 'Amazonas', 
2:   'Ancash',
3: 'Apurimac',
4 : 'Arequipa',
5 :  'Ayacucho',
6 : 'Cajamarca',
7:  'Callao',
8 : 'Cusco',
9: 'Huancavelica',
10:  'Huanuco',
11 : 'Ica',
12:  'Junin',
13 : 'La Libertad',
14 : 'Lambayeque',
15:  'Lima',
16:  'Loreto',
17:  'Madre de Dios',
18:  'Moquegua',
19 : 'Pasco',
20 : 'Piura',
21 : 'Puno',
22 : 'San Martin',
23 : 'Tacna',
24: 'Tumbes',
25: 'Ucayali'})
DHS_peru

,hhid,hv001,hv005,hv021,hv022,hv023,hv206,hv207,hv208,hv209,...,hv115_11,hv115_12,hv115_13,hv115_14,hv115_15,hv115_16,hv115_17,hv115_18,hv115_19,region
0,100401,1,283495,1,1,1,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amazonas
1,101201,1,283495,1,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amazonas
2,102001,1,283495,1,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amazonas
3,102801,1,283495,1,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amazonas
4,103701,1,283495,1,1,1,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amazonas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27213,142605301,1426,342691,1426,50,25,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ucayali
27214,142605401,1426,342691,1426,50,25,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ucayali
27215,142605501,1426,342691,1426,50,25,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ucayali
27216,142605601,1426,342691,1426,50,25,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ucayali
27217,142605701,1426,342691,1426,50,25,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ucayali

In [58]:
dhs_districts_copy = DHS_peru.copy()

In [63]:
dhs_districts_copy.columns[17:36]

Index(['hv104_01', 'hv104_02', 'hv104_03', 'hv104_04', 'hv104_05', 'hv104_06',
       'hv104_07', 'hv104_08', 'hv104_09', 'hv104_10', 'hv104_11', 'hv104_12',
       'hv104_13', 'hv104_14', 'hv104_15', 'hv104_16', 'hv104_17', 'hv104_18',
       'hv104_19'],
      dtype='object')

In [65]:
dhs_districts_copy['sum_male_1'] = (dhs_districts_copy[dhs_districts_copy.columns[17:36]] == 1.0).sum(axis=1)
dhs_districts_copy['sum_female_2'] = (dhs_districts_copy[dhs_districts_copy.columns[17:36]] == 2.0).sum(axis=1)
dhs_districts_copy['male:female'] = dhs_districts_copy['sum_male_1']/dhs_districts_copy['sum_female_2']

In [67]:
dhs_districts_104 = dhs_districts_copy[["sum_male_1", "sum_female_2", "region"]]
dhs_districts_104_gp = dhs_districts_104.groupby("region").agg(sum)
dhs_districts_104_gp['male:female'] = dhs_districts_104_gp['sum_male_1']/dhs_districts_104_gp['sum_female_2']
dhs_districts_104_gp

               sum_male_1  sum_female_2  male:female
region
Amazonas             2134          1970     1.083249
Ancash               2442          2451     0.996328
Apurimac             1915          1879     1.019159
Arequipa             1829          1869     0.978598
Ayacucho             2064          2169     0.951591
Cajamarca            2012          2026     0.993090
Callao                548           567     0.966490
Cusco                1881          1851     1.016207
Huancavelica         1788          1900     0.941053
Huanuco              2028          2069     0.980184
Ica                  2020          2131     0.947912
Junin                1916          1973     0.971110
La Libertad          2059          2154     0.955896
Lambayeque           1851          1981     0.934377
Lima                 4768          5020     0.949801
Loreto               2283          2230     1.023767
Madre de Dios        1988          1821     1.091708
Moquegua             1609          1565     1.028115
Pasco                2106          2132     0.987805
Piura                2415          2404     1.004576
Puno                 2273          2319     0.980164
San Martin           2105          1927     1.092372
Tacna                1510          1531     0.986283
Tumbes               1926          1867     1.031601
Ucayali              1998          1937     1.031492

In [69]:
dhs_districts_copy['sum_ages'] = (dhs_districts_copy[dhs_districts_copy.columns[36:55]]).median(axis=1)
dhs_districts_105 = dhs_districts_copy[["sum_ages", "region"]]
dhs_districts_105_gp = dhs_districts_105.groupby("region").agg('mean')
dhs_districts_105_gp.head(10)

               sum_ages
region
Amazonas      29.891007
Ancash        35.160266
Apurimac      36.464888
Arequipa      36.042035
Ayacucho      34.289187
Cajamarca     31.600000
Callao        32.641791
Cusco         35.001907
Huancavelica  33.433264
Huanuco       30.861166

In [70]:
dhs_districts_copy['no education/preschool'] = (dhs_districts_copy[dhs_districts_copy.columns[55:74]] == 0).sum(axis=1)
dhs_districts_copy['primary'] = (dhs_districts_copy[dhs_districts_copy.columns[55:74]] == 1).sum(axis=1)
dhs_districts_copy['secondary'] = (dhs_districts_copy[dhs_districts_copy.columns[55:74]] == 2).sum(axis=1)
dhs_districts_copy['higher'] = (dhs_districts_copy[dhs_districts_copy.columns[55:74]] == 3).sum(axis=1)
dhs_districts_copy['unknown'] = (dhs_districts_copy[dhs_districts_copy.columns[55:74]] == 8).sum(axis=1)
dhs_districts_106 = dhs_districts_copy[["no education/preschool", "primary", "secondary", "higher", "unknown", "region"]]
dhs_districts_106_gp = dhs_districts_106.groupby("region").agg('sum')
dhs_districts_106_gp["Common Education Status"] = dhs_districts_106_gp.idxmax(axis = 1)
dhs_districts_106_gp

,no education/preschool,primary,secondary,higher,unknown,Common Education Status
region,,,,,,
Amazonas,884,1958,972,285,5,primary
Ancash,886,1702,1592,710,3,primary
Apurimac,910,1334,1058,490,2,primary
Arequipa,546,855,1335,962,0,secondary
Ayacucho,1016,1656,1152,394,14,primary
Cajamarca,905,1880,934,317,2,primary
Callao,143,225,504,243,0,secondary
Cusco,725,1338,1161,504,4,primary
Huancavelica,891,1569,960,267,1,primary
Huanuco,980,1730,1028,356,3,primary
Ica,632,903,1525,1088,3,secondary
Junin,690,1223,1332,643,1,secondary
La Libertad,809,1513,1221,663,7,primary
Lambayeque,668,1155,1340,668,0,secondary
Lima,1245,1993,3960,2584,6,secondary
Loreto,1063,1712,1231,506,1,primary
Madre de Dios,737,1056,1414,584,18,secondary
Moquegua,454,821,1079,818,2,secondary
Pasco,856,1359,1363,660,0,secondary
Piura,970,1726,1497,623,3,primary
Puno,884,1729,1425,553,1,primary
San Martin,752,1813,1078,388,1,primary
Tacna,422,741,1149,722,7,secondary
Tumbes,634,1068,1360,721,10,secondary
Ucayali,831,1249,1329,525,1,secondary

In [71]:
dhs_district_unmasked = (dhs_districts_copy[dhs_districts_copy.columns[36:55]])
dhs_district_unmasked = dhs_district_unmasked.mask(dhs_district_unmasked <= 18.0)
dhs_district_unmasked_updated = pd.DataFrame(np.where(dhs_district_unmasked >= 18, 1, 0), columns = dhs_district_unmasked.columns)
dhs_district_unmasked_updated

,hv105_01,hv105_02,hv105_03,hv105_04,hv105_05,hv105_06,hv105_07,hv105_08,hv105_09,hv105_10,hv105_11,hv105_12,hv105_13,hv105_14,hv105_15,hv105_16,hv105_17,hv105_18,hv105_19
0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27213,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27214,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27215,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27216,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27217,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [73]:
dhs_districts_108_rows = dhs_districts_copy[dhs_districts_copy.columns[74:93]]
dhs_districts_108_rows = dhs_districts_108_rows.fillna(0)
dhs_districts_108_rows.astype('int64').dtypes
dhs_districts_108_rows

,hv108_01,hv108_02,hv108_03,hv108_04,hv108_05,hv108_06,hv108_07,hv108_08,hv108_09,hv108_10,hv108_11,hv108_12,hv108_13,hv108_14,hv108_15,hv108_16,hv108_17,hv108_18,hv108_19
0,13,6.0,13.0,11.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,11,5.0,14.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10,9.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,17,17.0,10.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27213,0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27214,4,3.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27215,0,3.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27216,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27217,6,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [74]:
dhs_districts_108_aged = pd.DataFrame(dhs_district_unmasked_updated.values*dhs_districts_108_rows.values, columns=dhs_district_unmasked_updated.columns, index=dhs_district_unmasked_updated.index)
dhs_districts_108_aged

,hv105_01,hv105_02,hv105_03,hv105_04,hv105_05,hv105_06,hv105_07,hv105_08,hv105_09,hv105_10,hv105_11,hv105_12,hv105_13,hv105_14,hv105_15,hv105_16,hv105_17,hv105_18,hv105_19
0,13.0,6.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,11.0,5.0,14.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,17.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27213,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27214,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27215,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27216,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27217,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [75]:
#Education completed in single years
dhs_districts_108_aged["region"] = dhs_districts_copy["region"]
dhs_districts_108_gp = dhs_districts_108_aged.groupby("region").agg('mean')
dhs_districts_108_gp

,hv105_01,hv105_02,hv105_03,hv105_04,hv105_05,hv105_06,hv105_07,hv105_08,hv105_09,hv105_10,hv105_11,hv105_12,hv105_13,hv105_14,hv105_15,hv105_16,hv105_17,hv105_18,hv105_19
region,,,,,,,,,,,,,,,,,,,
Amazonas,6.856305,4.915934,1.949169,0.854350,0.509286,0.374389,0.131965,0.097752,0.061584,0.038123,0.009775,0.010753,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Ancash,7.873824,5.775862,3.022727,1.447492,0.798589,0.525862,0.371473,0.170846,0.082288,0.024295,0.017241,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Apurimac,7.063670,4.743446,1.880150,1.020599,0.450375,0.279026,0.196629,0.055243,0.065543,0.029963,0.020599,0.024345,0.012172,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Arequipa,9.939823,7.636283,3.082301,1.251327,0.499115,0.176106,0.053982,0.019469,0.009735,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Ayacucho,7.958089,4.257334,1.626991,0.957251,0.883487,0.544845,0.196982,0.316010,0.030176,0.009220,0.007544,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Cajamarca,6.178744,4.382609,1.920773,0.919807,0.580676,0.256039,0.162319,0.086957,0.024155,0.022222,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Callao,10.145522,8.123134,4.787313,2.977612,1.682836,1.149254,0.380597,0.160448,0.123134,0.059701,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Cusco,7.236416,5.054337,2.195424,1.076263,0.535748,0.287893,0.111535,0.173499,0.051478,0.000000,0.004766,0.004766,0.093422,0.093422,0.000000,0.000000,0.0,0.0,0.000000
Huancavelica,5.840459,3.769552,1.369135,0.651721,0.384776,0.148071,0.113660,0.050052,0.023983,0.011470,0.011470,0.021898,0.006257,0.001043,0.000000,0.000000,0.0,0.0,0.000000
Huanuco,6.439723,4.147233,2.030632,0.911067,0.647233,0.357708,0.250988,0.131423,0.041502,0.029644,0.027668,0.008893,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Ica,10.671329,8.206294,3.362762,1.743881,1.040210,0.616259,0.241259,0.187063,0.026224,0.023601,0.012238,0.009615,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Junin,8.848659,6.128352,2.906130,1.351533,0.782567,0.431992,0.129310,0.114943,0.039272,0.111111,0.013410,0.008621,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
La Libertad,7.796230,6.283662,3.135548,1.676840,0.852783,0.325853,0.342908,0.076302,0.017056,0.016158,0.009874,0.009874,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Lambayeque,8.462687,6.973348,3.711087,2.173774,0.968017,0.685501,0.261194,0.041578,0.085288,0.043710,0.046908,0.000000,0.018124,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Lima,10.880369,8.741469,4.588117,2.777198,1.489763,0.795664,0.428743,0.240466,0.130470,0.060618,0.019671,0.018868,0.010839,0.008430,0.014051,0.044962,0.0,0.0,0.000000
Loreto,8.618568,6.317673,2.593960,1.186801,1.130872,0.804251,0.506711,0.417226,0.222595,0.109620,0.091723,0.057047,0.004474,0.005593,0.000000,0.000000,0.0,0.0,0.012304
Madre de Dios,9.700393,6.515717,1.745580,0.946955,0.840864,0.912574,0.462672,0.481336,0.265226,0.014735,0.010806,0.011788,0.010806,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Moquegua,9.828464,6.496701,2.681433,1.151744,0.667295,0.394910,0.174364,0.043355,0.040528,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Pasco,8.308863,6.318711,2.384960,1.067144,0.555953,0.470904,0.216652,0.122650,0.026858,0.000000,0.001791,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Piura,7.543035,6.479148,3.441881,1.583851,0.837622,0.593611,0.302573,0.162378,0.134871,0.039042,0.012422,0.010648,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Puno,7.088023,4.712121,2.007215,0.865801,0.445166,0.314574,0.077201,0.030303,0.007937,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
San Martin,7.244467,5.247485,2.043260,1.096579,0.747485,0.491952,0.226358,0.178068,0.084507,0.034205,0.000000,0.000000,0.013078,0.001006,0.000000,0.000000,0.0,0.0,0.005030
Tacna,10.639186,7.608137,3.392934,1.662741,0.685225,0.245182,0.128480,0.056745,0.110278,0.012848,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Tumbes,9.948367,8.065332,3.625922,2.021075,1.116965,0.645943,0.355111,0.128556,0.061117,0.032666,0.022129,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
Ucayali,9.089537,6.164990,2.202213,1.300805,0.626761,0.351107,0.187123,0.108652,0.044266,0.023139,0.000000,0.005030,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000

In [81]:
conditions = [
    (dhs_districts_copy['hv115_01'] == 0),
    (dhs_districts_copy['hv115_01'] == 1),
    (dhs_districts_copy['hv115_01'] == 2),
    (dhs_districts_copy['hv115_01'] == 3),
    (dhs_districts_copy['hv115_01'] == 4),
    (dhs_districts_copy['hv115_01'] == 5)
]

results = ["Never Married", "Married", "Living Together", "Widowed", "Divorced", "Not living together" ]

dhs_districts_copy['Marital Status of Household Head'] = np.select(conditions, results)

In [86]:
dhs_districts_copy["Marital Status of Household Head"].astype('string').dtypes
dhs_districts_115 = dhs_districts_copy[["hv115_01", "region", "Marital Status of Household Head"]]
dhs_districts_115_gp = dhs_districts_115.groupby("region").agg(lambda x:x.value_counts().index[0])
dhs_districts_115_gp

               hv115_01 Marital Status of Household Head
region
Amazonas              2                  Living Together
Ancash                1                          Married
Apurimac              1                          Married
Arequipa              1                          Married
Ayacucho              1                          Married
Cajamarca             2                  Living Together
Callao                1                          Married
Cusco                 1                          Married
Huancavelica          1                          Married
Huanuco               1                          Married
Ica                   1                          Married
Junin                 1                          Married
La Libertad           2                  Living Together
Lambayeque            1                          Married
Lima                  1                          Married
Loreto                2                  Living Together
Madre de Dios         2                  Living Together
Moquegua              1                          Married
Pasco                 1                          Married
Piura                 1                          Married
Puno                  1                          Married
San Martin            2                  Living Together
Tacna                 2                  Living Together
Tumbes                1                          Married
Ucayali               2                  Living Together

In [89]:
dhs_districts_hv206_gp = dhs_districts_copy[["hv206", "region"]].groupby("region").agg('sum')
dhs_districts_hv213_gp = dhs_districts_copy[["hv213", "region"]].groupby("region").agg('sum') #material of floor 
dhs_districts_hv216_gp = dhs_districts_copy[["hv216", "region"]].groupby("region").agg('mean') #number of rooms for sleeping
dhs_districts_hv271_gp = dhs_districts_copy[["hv271", "region"]].groupby("region").agg('mean')#wealth index factor 
dhs_districts_hv271_gp = dhs_districts_hv271_gp.round(3)

In [90]:
dhs_districts_group = pd.concat([dhs_districts_104_gp, dhs_districts_105_gp, dhs_districts_108_gp, dhs_districts_115_gp,dhs_districts_hv206_gp, 
                                 dhs_districts_hv213_gp, dhs_districts_hv216_gp, dhs_districts_hv271_gp], axis = 1)
dhs_districts_group

,sum_male_1,sum_female_2,male:female,sum_ages,hv105_01,hv105_02,hv105_03,hv105_04,hv105_05,hv105_06,...,hv105_16,hv105_17,hv105_18,hv105_19,hv115_01,Marital Status of Household Head,hv206,hv213,hv216,hv271
region,,,,,,,,,,,,,,,,,,,,,
Amazonas,2134,1970,1.083249,29.891007,6.856305,4.915934,1.949169,0.854350,0.509286,0.374389,...,0.000000,0.0,0.0,0.000000,2,Living Together,636,19084.0,1.637341,-69121.865
Ancash,2442,2451,0.996328,35.160266,7.873824,5.775862,3.022727,1.447492,0.798589,0.525862,...,0.000000,0.0,0.0,0.000000,1,Married,1197,29183.0,2.041536,1610.705
Apurimac,1915,1879,1.019159,36.464888,7.063670,4.743446,1.880150,1.020599,0.450375,0.279026,...,0.000000,0.0,0.0,0.000000,1,Married,821,17579.0,1.758427,-66309.155
Arequipa,1829,1869,0.978598,36.042035,9.939823,7.636283,3.082301,1.251327,0.499115,0.176106,...,0.000000,0.0,0.0,0.000000,1,Married,1089,32746.0,1.943363,72249.128
Ayacucho,2064,2169,0.951591,34.289187,7.958089,4.257334,1.626991,0.957251,0.883487,0.544845,...,0.000000,0.0,0.0,0.000000,1,Married,1000,21610.0,1.735960,-57951.153
Cajamarca,2012,2026,0.993090,31.600000,6.178744,4.382609,1.920773,0.919807,0.580676,0.256039,...,0.000000,0.0,0.0,0.000000,2,Living Together,715,18791.0,1.616425,-65808.158
Callao,548,567,0.966490,32.641791,10.145522,8.123134,4.787313,2.977612,1.682836,1.149254,...,0.000000,0.0,0.0,0.000000,1,Married,267,8606.0,2.317164,106264.769
Cusco,1881,1851,1.016207,35.001907,7.236416,5.054337,2.195424,1.076263,0.535748,0.287893,...,0.000000,0.0,0.0,0.000000,1,Married,832,19522.0,1.774071,-43015.861
Huancavelica,1788,1900,0.941053,33.433264,5.840459,3.769552,1.369135,0.651721,0.384776,0.148071,...,0.000000,0.0,0.0,0.000000,1,Married,706,14230.0,1.773723,-81874.829
Huanuco,2028,2069,0.980184,30.861166,6.439723,4.147233,2.030632,0.911067,0.647233,0.357708,...,0.000000,0.0,0.0,0.000000,1,Married,699,18877.0,1.703557,-59526.910
Ica,2020,2131,0.947912,35.026224,10.671329,8.206294,3.362762,1.743881,1.040210,0.616259,...,0.000000,0.0,0.0,0.000000,1,Married,1104,34247.0,2.013112,57538.762
Junin,1916,1973,0.971110,34.532567,8.848659,6.128352,2.906130,1.351533,0.782567,0.431992,...,0.000000,0.0,0.0,0.000000,1,Married,941,24984.0,1.981801,-582.322
La Libertad,2059,2154,0.955896,33.626571,7.796230,6.283662,3.135548,1.676840,0.852783,0.325853,...,0.000000,0.0,0.0,0.000000,2,Living Together,1007,26810.0,2.038600,24106.032
Lambayeque,1851,1981,0.934377,33.301706,8.462687,6.973348,3.711087,2.173774,0.968017,0.685501,...,0.000000,0.0,0.0,0.000000,1,Married,880,24557.0,2.035181,37889.004
Lima,4768,5020,0.949801,35.143316,10.880369,8.741469,4.588117,2.777198,1.489763,0.795664,...,0.044962,0.0,0.0,0.000000,1,Married,2454,77678.0,2.221196,101321.016
Loreto,2283,2230,1.023767,26.026286,8.618568,6.317673,2.593960,1.186801,1.130872,0.804251,...,0.000000,0.0,0.0,0.012304,2,Living Together,606,24939.0,1.954139,-55091.909
Madre de Dios,1988,1821,1.091708,28.640963,9.700393,6.515717,1.745580,0.946955,0.840864,0.912574,...,0.000000,0.0,0.0,0.000000,2,Living Together,874,29889.0,1.702358,1701.163
Moquegua,1609,1565,1.028115,39.748351,9.828464,6.496701,2.681433,1.151744,0.667295,0.394910,...,0.000000,0.0,0.0,0.000000,1,Married,973,29538.0,1.757776,48727.009
Pasco,2106,2132,0.987805,31.479857,8.308863,6.318711,2.384960,1.067144,0.555953,0.470904,...,0.000000,0.0,0.0,0.000000,1,Married,932,25615.0,1.719785,-12635.232
Piura,2415,2404,1.004576,30.432121,7.543035,6.479148,3.441881,1.583851,0.837622,0.593611,...,0.000000,0.0,0.0,0.000000,1,Married,1020,25167.0,2.011535,-2477.215
Puno,2273,2319,0.980164,37.640332,7.088023,4.712121,2.007215,0.865801,0.445166,0.314574,...,0.000000,0.0,0.0,0.000000,1,Married,1120,27078.0,1.492063,-44023.498
San Martin,2105,1927,1.092372,30.542757,7.244467,5.247485,2.043260,1.096579,0.747485,0.491952,...,0.000000,0.0,0.0,0.005030,2,Living Together,787,21638.0,1.909457,-31575.107
Tacna,1510,1531,0.986283,34.206103,10.639186,7.608137,3.392934,1.662741,0.685225,0.245182,...,0.000000,0.0,0.0,0.000000,2,Living Together,896,28058.0,1.981799,62035.232
Tumbes,1926,1867,1.031601,31.702845,9.948367,8.065332,3.625922,2.021075,1.116965,0.645943,...,0.000000,0.0,0.0,0.000000,1,Married,920,25249.0,2.024236,45896.018
Ucayali,1998,1937,1.031492,28.567907,9.089537,6.164990,2.202213,1.300805,0.626761,0.351107,...,0.000000,0.0,0.0,0.000000,2,Living Together,825,27923.0,1.991952,-24999.176

In [91]:
# dhs_districts_group.to_csv("/Users/ishaarora/Desktop/DHS_Peru.csv")

In [93]:
pip install openpyxl

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 1.2 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.0 -> 23.1.2
[notice] To update, run: /usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [189]:
census_data = pd.read_excel("/Users/ishaarora/Desktop/peru_data_1.xlsx")

In [190]:
census_data.head(15)

,ECLAC/CELADE Redatam7 4/28/2023,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149
0,Title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Arealist of : HOGAR.sexjef, HOGAR.C3P23, HOGAR...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,CPV2017 - Distrital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Geographic Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,All Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Entity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,DISTRITO (Distrito),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Key,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,REDCODE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,H: Sexo del jefe del hogar,NaN,NaN,H: Su hogar tiene: Cocina a gas,NaN,NaN,H: Su hogar tiene: Refrigeradora o congeladora,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H: Área concepto censal,NaN,NaN
12,NaN,Code,NCCDI,sexjef_1,sexjef_2,sexjef_T,COCINGAS_1,COCINGAS_2,COCINGAS_T,Sí tiene refrigeradora o congeladora,...,Edad 110 años,Edad 111 años,Edad 112 años,Edad 113 años,Edad 114 años,Edad 115 años,Total,Urbano censal,Rural censal,Total
13,NaN,10101,"Amazonas, Chachapoyas, distrito: Chachapoyas",5078,3281,8359,7662,697,8359,3381,...,-,-,-,-,-,-,32589,8197,162,8359
14,NaN,10102,"Amazonas, Chachapoyas, distrito: Asunción",57,47,104,23,81,104,2,...,-,-,-,-,-,-,262,57,47,104

In [191]:
census_data.columns = census_data.iloc[12]

In [192]:
census_data.head(15)

12,NaN,Code,NCCDI,sexjef_1,sexjef_2,sexjef_T,COCINGAS_1,COCINGAS_2,COCINGAS_T,Sí tiene refrigeradora o congeladora,...,Edad 110 años,Edad 111 años,Edad 112 años,Edad 113 años,Edad 114 años,Edad 115 años,Total,Urbano censal,Rural censal,Total
0,Title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"Arealist of : HOGAR.sexjef, HOGAR.C3P23, HOGAR...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,CPV2017 - Distrital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Geographic Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,All Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Entity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,DISTRITO (Distrito),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Key,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,REDCODE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,H: Sexo del jefe del hogar,NaN,NaN,H: Su hogar tiene: Cocina a gas,NaN,NaN,H: Su hogar tiene: Refrigeradora o congeladora,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H: Área concepto censal,NaN,NaN
12,NaN,Code,NCCDI,sexjef_1,sexjef_2,sexjef_T,COCINGAS_1,COCINGAS_2,COCINGAS_T,Sí tiene refrigeradora o congeladora,...,Edad 110 años,Edad 111 años,Edad 112 años,Edad 113 años,Edad 114 años,Edad 115 años,Total,Urbano censal,Rural censal,Total
13,NaN,10101,"Amazonas, Chachapoyas, distrito: Chachapoyas",5078,3281,8359,7662,697,8359,3381,...,-,-,-,-,-,-,32589,8197,162,8359
14,NaN,10102,"Amazonas, Chachapoyas, distrito: Asunción",57,47,104,23,81,104,2,...,-,-,-,-,-,-,262,57,47,104

In [193]:
census_data_ = census_data.drop(census_data.loc[0:12].index)
# census_data_.index.name = 'xxx'
census_data_ = census_data_.drop(columns = [np.nan])

In [195]:
census_data_clean = census_data_.reset_index(drop=True)
census_data_clean.index.name = "index"

In [196]:
census_data_clean

12,Code,NCCDI,sexjef_1,sexjef_2,sexjef_T,COCINGAS_1,COCINGAS_2,COCINGAS_T,Sí tiene refrigeradora o congeladora,No tiene refrigeradora o congeladora,...,Edad 110 años,Edad 111 años,Edad 112 años,Edad 113 años,Edad 114 años,Edad 115 años,Total,Urbano censal,Rural censal,Total
index,,,,,,,,,,,,,,,,,,,,,
0,10101,"Amazonas, Chachapoyas, distrito: Chachapoyas",5078,3281,8359,7662,697,8359,3381,4978,...,-,-,-,-,-,-,32589,8197,162,8359
1,10102,"Amazonas, Chachapoyas, distrito: Asunción",57,47,104,23,81,104,2,102,...,-,-,-,-,-,-,262,57,47,104
2,10103,"Amazonas, Chachapoyas, distrito: Balsas",259,96,355,127,228,355,54,301,...,-,-,-,-,-,-,1136,89,266,355
3,10104,"Amazonas, Chachapoyas, distrito: Cheto",155,65,220,139,81,220,27,193,...,-,-,-,-,-,-,642,150,70,220
4,10105,"Amazonas, Chachapoyas, distrito: Chiliquin",157,49,206,126,80,206,6,200,...,-,-,-,-,-,-,585,62,144,206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1869,250302,"Ucayali, Padre Abad, distrito: Irazola",1867,696,2563,1615,948,2563,653,1910,...,-,-,-,-,-,-,10214,1497,1066,2563
1870,250303,"Ucayali, Padre Abad, distrito: Curimana",1449,435,1884,1100,784,1884,493,1391,...,-,-,-,-,-,-,7722,855,1029,1884
1871,250304,"Ucayali, Padre Abad, distrito: Neshuya",1515,410,1925,1404,521,1925,657,1268,...,-,-,-,-,-,-,7594,929,996,1925
1872,250305,"Ucayali, Padre Abad, distrito: Alexander Von H...",946,349,1295,881,414,1295,404,891,...,-,-,-,-,-,-,5137,950,345,1295
1873,250401,"Ucayali, Purús, distrito: Purús",540,148,688,137,551,688,60,628,...,-,-,-,-,-,-,2860,308,380,688

In [200]:
census_data_clean.columns = ["Code", "Nation+District", "Male Household head", "Female household head", "Total Male/Female household head", "Gas Stove -Yes", "Gas Stove - No", "Gas Stove Total", "Refrigerator/Freezer", "No Referigerator/Freezer",
                            "Total ref/freezer", "Clothes washer", "No clothes washer", "Total clothes washer", "Car/van/autombile", "No car/van/automobile", "Total car/van/automobile", 
                            "Motorcycle", "No Motorcycle", "Total Motorcycle", "Cellular Phone", "No Cellular Phone", "Total Cellular Phone", "Cable/satellite Tv", "No Cable/satellite Tv", 
                            "Total Cable/satellite Tv", "Male", "Female", "Total Gender",
"Age 0",
"Age 1 year",
"Age 2 years",
"Age 3 years",
"Age 4 years",
"Age 5 years",
"Age 6 years",
"Age 7 years",
"Age 8 years",
"Age 9 years",
"Age 10 years",
"Age 11 years",
"Age 12 years",
"Age 13 years",
"Age 14 years",
"Age 15 years",
"Age 16 years",
"Age 17 years",
"Age 18 years",
"Age 19 years",
"Age 20 years",
"Age 21 years",
"Age 22 years",
"Age 23 years",
"Age 24 years",
"Age 25 years",
"Age 26 years",
"Age 27 years",
"Age 28 years",
"Age 29 years",
"Age 30 years",
"Age 31 years",
"Age 32 years",
"Age 33 years",
"Age 34 years",
"Age 35 years",
"Age 36 years",
"Age 37 years",
"Age 38 years",
"Age 39 years",
"Age 40 years",
"Age 41 years",
"Age 42 years",
"Age 43 years",
"Age 44 years",
"Age 45 years",
"Age 46 years",
"Age 47 years",
"Age 48 years",
"Age 49 years",
"Age 50 years",
"Age 51 years",
"Age 52 years",
"Age 53 years",
"Age 54 years",
"Age 55 years",
"Age 56 years",
"Age 57 years",
"Age 58 years",
"Age 59 years",
"Age 60 years",
"Age 61 years",
"Age 62 years",
"Age 63 years",
"Age 64 years",
"Age 65 years",
"Age 66 years",
"Age 67 years",
"Age 68 years",
"Age 69 years",
"Age 70 years",
"Age 71 years",
"Age 72 years",
"Age 73 years",
"Age 74 years",
"Age 75 years",
"Age 76 years",
"Age 77 years",
"Age 78 years",
"Age 79 years",
"Age 80 years",
"Age 81 years",
"Age 82 years",
"Age 83 years",
"Age 84 years",
"Age 85 years",
"Age 86 years",
"Age 87 years",
"Age 88 years",
"Age 89 years",
"Age 90 years",
"Age 91 years",
"Age 92 years",
"Age 93 years",
"Age 94 years",
"Age 95 years",
"Age 96 years",
"Age 97 years",
"Age 98 years",
"Age 99 years",
"Age 100 years",
"Age 101 years",
"Age 102 years",
"Age 103 years",
"Age 104 years",
"Age 105 years",
"Age 106 years",
"Age 107 years",
"Age 108 years",
"Age 109 years",
"Age 110 years",
"Age 111 years",
"Age 112 years",
"Age 113 years",
"Age 114 years",
"Age 115 years", "Ages Total", "Urban Census", "Rural census", "Total census" ]

In [229]:
census_data_clean['male:female'] = census_data_clean['Male']/census_data_clean['Female']
census_data_clean

,Code,Nation+District,Male Household head,Female household head,Total Male/Female household head,Gas Stove -Yes,Gas Stove - No,Gas Stove Total,Refrigerator/Freezer,No Referigerator/Freezer,...,Age 112 years,Age 113 years,Age 114 years,Age 115 years,Ages Total,Urban Census,Rural census,Total census,District,male:female
index,,,,,,,,,,,,,,,,,,,,,
0,10101,"Amazonas, Chachapoyas, distrito: Chachapoyas",5078,3281,8359,7662,697,8359,3381,4978,...,-,-,-,-,32589,8197,162,8359,Chachapoyas,0.898794
1,10102,"Amazonas, Chachapoyas, distrito: Asunción",57,47,104,23,81,104,2,102,...,-,-,-,-,262,57,47,104,Asunción,1.046875
2,10103,"Amazonas, Chachapoyas, distrito: Balsas",259,96,355,127,228,355,54,301,...,-,-,-,-,1136,89,266,355,Balsas,1.103704
3,10104,"Amazonas, Chachapoyas, distrito: Cheto",155,65,220,139,81,220,27,193,...,-,-,-,-,642,150,70,220,Cheto,0.975385
4,10105,"Amazonas, Chachapoyas, distrito: Chiliquin",157,49,206,126,80,206,6,200,...,-,-,-,-,585,62,144,206,Chiliquin,1.074468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1869,250302,"Ucayali, Padre Abad, distrito: Irazola",1867,696,2563,1615,948,2563,653,1910,...,-,-,-,-,10214,1497,1066,2563,Irazola,1.062601
1870,250303,"Ucayali, Padre Abad, distrito: Curimana",1449,435,1884,1100,784,1884,493,1391,...,-,-,-,-,7722,855,1029,1884,Curimana,1.161209
1871,250304,"Ucayali, Padre Abad, distrito: Neshuya",1515,410,1925,1404,521,1925,657,1268,...,-,-,-,-,7594,929,996,1925,Neshuya,1.111204
1872,250305,"Ucayali, Padre Abad, distrito: Alexander Von H...",946,349,1295,881,414,1295,404,891,...,-,-,-,-,5137,950,345,1295,Alexander Von Humboldt,1.116605
1873,250401,"Ucayali, Purús, distrito: Purús",540,148,688,137,551,688,60,628,...,-,-,-,-,2860,308,380,688,Purús,1.067968

In [208]:
# census_data_clean["Nation+District"].str.split(pat=",", n = 3, expand = True)
census_data_clean["District"] = census_data_clean["Nation+District"].str.split(pat="distrito:", expand = True)[1]
census_data_clean

,Code,Nation+District,Male Household head,Female household head,Total Male/Female household head,Gas Stove -Yes,Gas Stove - No,Gas Stove Total,Refrigerator/Freezer,No Referigerator/Freezer,...,Age 111 years,Age 112 years,Age 113 years,Age 114 years,Age 115 years,Ages Total,Urban Census,Rural census,Total census,District
index,,,,,,,,,,,,,,,,,,,,,
0,10101,"Amazonas, Chachapoyas, distrito: Chachapoyas",5078,3281,8359,7662,697,8359,3381,4978,...,-,-,-,-,-,32589,8197,162,8359,Chachapoyas
1,10102,"Amazonas, Chachapoyas, distrito: Asunción",57,47,104,23,81,104,2,102,...,-,-,-,-,-,262,57,47,104,Asunción
2,10103,"Amazonas, Chachapoyas, distrito: Balsas",259,96,355,127,228,355,54,301,...,-,-,-,-,-,1136,89,266,355,Balsas
3,10104,"Amazonas, Chachapoyas, distrito: Cheto",155,65,220,139,81,220,27,193,...,-,-,-,-,-,642,150,70,220,Cheto
4,10105,"Amazonas, Chachapoyas, distrito: Chiliquin",157,49,206,126,80,206,6,200,...,-,-,-,-,-,585,62,144,206,Chiliquin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1869,250302,"Ucayali, Padre Abad, distrito: Irazola",1867,696,2563,1615,948,2563,653,1910,...,-,-,-,-,-,10214,1497,1066,2563,Irazola
1870,250303,"Ucayali, Padre Abad, distrito: Curimana",1449,435,1884,1100,784,1884,493,1391,...,-,-,-,-,-,7722,855,1029,1884,Curimana
1871,250304,"Ucayali, Padre Abad, distrito: Neshuya",1515,410,1925,1404,521,1925,657,1268,...,-,-,-,-,-,7594,929,996,1925,Neshuya
1872,250305,"Ucayali, Padre Abad, distrito: Alexander Von H...",946,349,1295,881,414,1295,404,891,...,-,-,-,-,-,5137,950,345,1295,Alexander Von Humboldt
1873,250401,"Ucayali, Purús, distrito: Purús",540,148,688,137,551,688,60,628,...,-,-,-,-,-,2860,308,380,688,Purús

In [241]:
census_data_gender = census_data_clean[["Male", "Female", "District"]]
census_data_gender_gp = census_data_gender.groupby("District").agg(sum)
census_data_gender_gp['male:female'] = census_data_gender_gp['Male']/census_data_gender_gp['Female']
census_data_gender_gp

                           Male Female male:female
District
 Abancay                  33646  35382    0.950936
 Abelardo Pardo Lezameta    124    120    1.033333
 Acarí                     2679   2244     1.19385
 Acas                       330    326     1.01227
 Accha                     1500   1528    0.981675
...                         ...    ...         ...
 Zepita                    8478   8451    1.003195
 Zorritos                  6306   6065    1.039736
 Zurite                    1721   1730    0.994798
 Zúñiga                     708    606    1.168317
 Ñahuimpuquio               722    758    0.952507

[1724 rows x 3 columns]

In [242]:
census_data_clean.columns

Index(['Code', 'Nation+District', 'Male Household head',
       'Female household head', 'Total Male/Female household head',
       'Gas Stove -Yes', 'Gas Stove - No', 'Gas Stove Total',
       'Refrigerator/Freezer', 'No Referigerator/Freezer',
       ...
       'Age 112 years', 'Age 113 years', 'Age 114 years', 'Age 115 years',
       'Ages Total', 'Urban Census', 'Rural census', 'Total census',
       'District', 'male:female'],
      dtype='object', length=151)

In [312]:
census_data_clean["District"].nunique()

1724

In [267]:
list(census_data_clean.columns)

['Code',
 'Nation+District',
 'Male Household head',
 'Female household head',
 'Total Male/Female household head',
 'Gas Stove -Yes',
 'Gas Stove - No',
 'Gas Stove Total',
 'Refrigerator/Freezer',
 'No Referigerator/Freezer',
 'Total ref/freezer',
 'Clothes washer',
 'No clothes washer',
 'Total clothes washer',
 'Car/van/autombile',
 'No car/van/automobile',
 'Total car/van/automobile',
 'Motorcycle',
 'No Motorcycle',
 'Total Motorcycle',
 'Cellular Phone',
 'No Cellular Phone',
 'Total Cellular Phone',
 'Cable/satellite Tv',
 'No Cable/satellite Tv',
 'Total Cable/satellite Tv',
 'Male',
 'Female',
 'Total Gender',
 'Age 0',
 'Age 1 year',
 'Age 2 years',
 'Age 3 years',
 'Age 4 years',
 'Age 5 years',
 'Age 6 years',
 'Age 7 years',
 'Age 8 years',
 'Age 9 years',
 'Age 10 years',
 'Age 11 years',
 'Age 12 years',
 'Age 13 years',
 'Age 14 years',
 'Age 15 years',
 'Age 16 years',
 'Age 17 years',
 'Age 18 years',
 'Age 19 years',
 'Age 20 years',
 'Age 21 years',
 'Age 22 years',
 'Age 23 years',
 'Age 24 years',
 'Age 25 years',
 'Age 26 years',
 'Age 27 years',
 'Age 28 years',
 'Age 29 years',
 'Age 30 years',
 'Age 31 years',
 'Age 32 years',
 'Age 33 years',
 'Age 34 years',
 'Age 35 years',
 'Age 36 years',
 'Age 37 years',
 'Age 38 years',
 'Age 39 years',
 'Age 40 years',
 'Age 41 years',
 'Age 42 years',
 'Age 43 years',
 'Age 44 years',
 'Age 45 years',
 'Age 46 years',
 'Age 47 years',
 'Age 48 years',
 'Age 49 years',
 'Age 50 years',
 'Age 51 years',
 'Age 52 years',
 'Age 53 years',
 'Age 54 years',
 'Age 55 years',
 'Age 56 years',
 'Age 57 years',
 'Age 58 years',
 'Age 59 years',
 'Age 60 years',
 'Age 61 years',
 'Age 62 years',
 'Age 63 years',
 'Age 64 years',
 'Age 65 years',
 'Age 66 years',
 'Age 67 years',
 'Age 68 years',
 'Age 69 years',
 'Age 70 years',
 'Age 71 years',
 'Age 72 years',
 'Age 73 years',
 'Age 74 years',
 'Age 75 years',
 'Age 76 years',
 'Age 77 years',
 'Age 78 years',
 'Age 79 years',
 'Age 80 years',
 'Age 81 years',
 'Age 82 years',
 'Age 83 years',
 'Age 84 years',
 'Age 85 years',
 'Age 86 years',
 'Age 87 years',
 'Age 88 years',
 'Age 89 years',
 'Age 90 years',
 'Age 91 years',
 'Age 92 years',
 'Age 93 years',
 'Age 94 years',
 'Age 95 years',
 'Age 96 years',
 'Age 97 years',
 'Age 98 years',
 'Age 99 years',
 'Age 100 years',
 'Age 101 years',
 'Age 102 years',
 'Age 103 years',
 'Age 104 years',
 'Age 105 years',
 'Age 106 years',
 'Age 107 years',
 'Age 108 years',
 'Age 109 years',
 'Age 110 years',
 'Age 111 years',
 'Age 112 years',
 'Age 113 years',
 'Age 114 years',
 'Age 115 years',
 'Ages Total',
 'Urban Census',
 'Rural census',
 'Total census',
 'District',
 'male:female']

In [ ]:
# dhs_districts_copy['sum_ages'] = (dhs_districts_copy[dhs_districts_copy.columns[36:55]]).median(axis=1)
# dhs_districts_105 = dhs_districts_copy[["sum_ages", "region"]]
# dhs_districts_105_gp = dhs_districts_105.groupby("region").agg('mean')
# dhs_districts_105_gp.head(10)

In [253]:
census_data_clean["Gas Stove -Yes"]

index
0       7662
1         23
2        127
3        139
4        126
        ...
1869    1615
1870    1100
1871    1404
1872     881
1873     137
Name: Gas Stove -Yes, Length: 1874, dtype: object

In [278]:
census_data_clean["Gas Stove -Yes"] = pd.to_numeric(census_data_clean["Gas Stove -Yes"], errors='coerce').astype('Int64')
census_data_stove_gp = census_data_clean[["Gas Stove -Yes", "District"]].groupby("District").agg('mean')

census_data_clean['Refrigerator/Freezer'] = pd.to_numeric(census_data_clean['Refrigerator/Freezer'], errors='coerce').astype('Int64')
census_data_ref_freezer_gp = census_data_clean[['Refrigerator/Freezer', "District"]].groupby("District").agg('mean')

In [285]:
census_data_clean['Clothes washer'] = pd.to_numeric(census_data_clean['Clothes washer'], errors='coerce').astype('Int64')
census_data_clothes_washer_gp = census_data_clean[['Clothes washer', "District"]].groupby("District").agg('mean')

In [286]:
census_data_clean['Car/van/autombile'] = pd.to_numeric(census_data_clean['Car/van/autombile'], errors='coerce').astype('Int64')
census_data_automobile_gp = census_data_clean[['Car/van/autombile', "District"]].groupby("District").agg('mean')

In [288]:
census_data_clean['Motorcycle'] = pd.to_numeric(census_data_clean['Motorcycle'], errors='coerce').astype('Int64')
census_data_motorcycle_gp = census_data_clean[['Motorcycle', "District"]].groupby("District").agg('mean')

In [294]:
census_data_clean['Cellular Phone'] = pd.to_numeric(census_data_clean['Cellular Phone'], errors='coerce').astype('Int64')
census_data_phone_gp = census_data_clean[['Cellular Phone', "District"]].groupby("District").agg('mean')

In [295]:
census_data_clean['No Cable/satellite Tv'] = pd.to_numeric(census_data_clean['No Cable/satellite Tv'], errors='coerce').astype('Int64')
census_data_tv_gp = census_data_clean[['No Cable/satellite Tv', "District"]].groupby("District").agg('mean')
census_data_tv_gp

                          No Cable/satellite Tv
District
 Abancay                                12706.0
 Abelardo Pardo Lezameta                  122.0
 Acarí                                    714.0
 Acas                                     221.0
 Accha                                    986.0
...                                         ...
 Zepita                                  7211.0
 Zorritos                                1040.0
 Zurite                                   944.0
 Zúñiga                                   252.0
 Ñahuimpuquio                             490.0

[1724 rows x 1 columns]

In [209]:
census_age_data= pd.read_excel("/Users/ishaarora/Desktop/peru_data_2.xlsx")
census_age_data

,ECLAC/CELADE Redatam7 4/28/2023,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Database,NaN,NaN,NaN,NaN,NaN
1,NaN,CPV2017 - Distrital,NaN,NaN,NaN,NaN
2,Geographic Area,NaN,NaN,NaN,NaN,NaN
3,NaN,All Database,NaN,NaN,NaN,NaN
4,Average,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
1879,NaN,"Áncash, Yungay, distrito: Ranrahirca",2657,33.608957,0.0001,0.999074
1880,NaN,"Áncash, Yungay, distrito: Shupluy",1840,29.55163,0.0001,0.999137
1881,NaN,"Áncash, Yungay, distrito: Yanama",5292,31.726568,0.00018,0.999317
1882,NaN,"Áncash, Yungay, distrito: Yungay",20070,32.236074,0.000683,1
1883,NaN,Total,29381884,31.50762,1,1

In [210]:
census_age_data.head(15)

,ECLAC/CELADE Redatam7 4/28/2023,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Database,NaN,NaN,NaN,NaN,NaN
1,NaN,CPV2017 - Distrital,NaN,NaN,NaN,NaN
2,Geographic Area,NaN,NaN,NaN,NaN,NaN
3,NaN,All Database,NaN,NaN,NaN,NaN
4,Average,NaN,NaN,NaN,NaN,NaN
5,NaN,of PERSONA.C5P41 (P: Edad en años),NaN,NaN,NaN,NaN
6,NaN,by DISTRITO.NCCDI (Distrito),NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,DISTRITO.NCCDI (Distrito),Counts,Average,%,Cumul %
9,NaN,"Amazonas, Bagua, distrito: Aramango",9765,29.181976,0.000332,0.000332
10,NaN,"Amazonas, Bagua, distrito: Bagua",27102,31.22681,0.000922,0.001255
11,NaN,"Amazonas, Bagua, distrito: Copallin",4595,33.911643,0.000156,0.001411
12,NaN,"Amazonas, Bagua, distrito: El Parco",1216,33.104441,0,0.001453
13,NaN,"Amazonas, Bagua, distrito: Imaza",25162,22.709642,0.000856,0.002309
14,NaN,"Amazonas, Bagua, distrito: La Peca",6260,32.767093,0.000213,0.002522

In [214]:
census_age_data.columns=census_age_data.iloc[8]

In [216]:
census_age_data = census_age_data.drop(census_age_data.loc[0:8].index)
census_age_data

8,NaN,DISTRITO.NCCDI (Distrito),Counts,Average,%,Cumul %
9,NaN,"Amazonas, Bagua, distrito: Aramango",9765,29.181976,0.000332,0.000332
10,NaN,"Amazonas, Bagua, distrito: Bagua",27102,31.22681,0.000922,0.001255
11,NaN,"Amazonas, Bagua, distrito: Copallin",4595,33.911643,0.000156,0.001411
12,NaN,"Amazonas, Bagua, distrito: El Parco",1216,33.104441,0,0.001453
13,NaN,"Amazonas, Bagua, distrito: Imaza",25162,22.709642,0.000856,0.002309
...,...,...,...,...,...,...
1879,NaN,"Áncash, Yungay, distrito: Ranrahirca",2657,33.608957,0.0001,0.999074
1880,NaN,"Áncash, Yungay, distrito: Shupluy",1840,29.55163,0.0001,0.999137
1881,NaN,"Áncash, Yungay, distrito: Yanama",5292,31.726568,0.00018,0.999317
1882,NaN,"Áncash, Yungay, distrito: Yungay",20070,32.236074,0.000683,1
1883,NaN,Total,29381884,31.50762,1,1

In [219]:
census_age_data["District"] = census_age_data["DISTRITO.NCCDI (Distrito)"].str.split(pat="distrito:", expand = True)[1]
census_age_data

8,NaN,DISTRITO.NCCDI (Distrito),Counts,Average,%,Cumul %,District
9,NaN,"Amazonas, Bagua, distrito: Aramango",9765,29.181976,0.000332,0.000332,Aramango
10,NaN,"Amazonas, Bagua, distrito: Bagua",27102,31.22681,0.000922,0.001255,Bagua
11,NaN,"Amazonas, Bagua, distrito: Copallin",4595,33.911643,0.000156,0.001411,Copallin
12,NaN,"Amazonas, Bagua, distrito: El Parco",1216,33.104441,0,0.001453,El Parco
13,NaN,"Amazonas, Bagua, distrito: Imaza",25162,22.709642,0.000856,0.002309,Imaza
...,...,...,...,...,...,...,...
1879,NaN,"Áncash, Yungay, distrito: Ranrahirca",2657,33.608957,0.0001,0.999074,Ranrahirca
1880,NaN,"Áncash, Yungay, distrito: Shupluy",1840,29.55163,0.0001,0.999137,Shupluy
1881,NaN,"Áncash, Yungay, distrito: Yanama",5292,31.726568,0.00018,0.999317,Yanama
1882,NaN,"Áncash, Yungay, distrito: Yungay",20070,32.236074,0.000683,1,Yungay
1883,NaN,Total,29381884,31.50762,1,1,None

In [305]:
census_age_data['Average'] = pd.to_numeric(census_age_data['Average'], errors='coerce')
census_age_data_gp = census_age_data[['Average', "District"]].groupby("District").agg('mean')
census_age_data_gp

8                           Average
District
 Abancay                  29.200136
 Abelardo Pardo Lezameta  35.397541
 Acarí                    34.873654
 Acas                     34.692073
 Accha                    34.430647
...                             ...
 Zepita                   34.326186
 Zorritos                 30.256164
 Zurite                   34.448566
 Zúñiga                   34.884323
 Ñahuimpuquio             33.766892

[1724 rows x 1 columns]

In [308]:
census_data_group = pd.concat([census_data_stove_gp, census_data_ref_freezer_gp, census_data_clothes_washer_gp, census_data_automobile_gp, census_data_motorcycle_gp, 
                                 census_data_phone_gp, census_data_tv_gp, census_age_data_gp], axis = 1)
census_data_group = census_data_group.rename({"Average": "Average Age"}, axis = 1)
census_data_group

,Gas Stove -Yes,Refrigerator/Freezer,Clothes washer,Car/van/autombile,Motorcycle,Cellular Phone,No Cable/satellite Tv,Average Age
District,,,,,,,,
Abancay,17857.0,17857.0,4792.0,2583.0,1517.0,18877.0,12706.0,29.200136
Abelardo Pardo Lezameta,1.0,1.0,<NA>,<NA>,<NA>,103.0,122.0,35.397541
Acarí,1368.0,1368.0,381.0,180.0,340.0,1331.0,714.0,34.873654
Acas,30.0,30.0,<NA>,1.0,2.0,170.0,221.0,34.692073
Accha,277.0,277.0,7.0,20.0,65.0,369.0,986.0,34.430647
...,...,...,...,...,...,...,...,...
Zepita,2958.0,2958.0,16.0,47.0,247.0,3438.0,7211.0,34.326186
Zorritos,3113.0,3113.0,904.0,306.0,662.0,2981.0,1040.0,30.256164
Zurite,590.0,590.0,30.0,68.0,63.0,736.0,944.0,34.448566
Zúñiga,271.0,271.0,20.0,24.0,65.0,294.0,252.0,34.884323
Ñahuimpuquio,151.0,151.0,<NA>,18.0,4.0,292.0,490.0,33.766892

In [309]:
# census_data_group.to_csv("/Users/ishaarora/Desktop/Census_Data_PeruGroup.csv")