In [20]:
# !pip install "dask[complete]"    # Install everything

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
from matplotlib.ticker import ScalarFormatter
import geopandas as gpd
from shapely.geometry import Point

/usr/local/lib/python3.9/site-packages/geopandas/_compat.py:112: UserWarning: The Shapely GEOS version (3.10.3-CAPI-1.16.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

In [2]:
# data = pd.io.stata.read_stata('/Users/ishaarora/Desktop/India_DHS/IAHR7DFL.DTA', convert_categoricals=False, convert_missing=True)
# data.to_csv('my_stata_file.csv')

In [3]:
import dask.dataframe as dd
# df = dd.read_csv('/Users/ishaarora/MyStata.csv', encoding = 'ISO-8859-1', blocksize=32e6)
path2file = '/Users/ishaarora/MyStata.csv'
cols = ['shdist', "hv005"]
dataset = dd.read_csv(path2file, usecols=cols, encoding = 'ISO-8859-1', blocksize=32e6)
dataset = dataset.compute()
#can select specific columns

In [4]:
dataset

       hv005   shdist
0     196202  kupwara
1     196202  kupwara
2     196202  kupwara
3     196202  kupwara
4     196202  kupwara
...      ...      ...
1434   50597   kargil
1435   50597   kargil
1436   50597   kargil
1437   50597   kargil
1438   50597   kargil

[636699 rows x 2 columns]

In [5]:
india_dhs = pd.read_csv("/Users/ishaarora/Desktop/IndiaDHS_subset.csv")
india_dhs

,hhid,hv001,hv005,hv021,hv022,hv023,hv206,hv213,hv216,hv271,...,hv115_26,hv115_27,hv115_28,hv115_29,hv115_30,hv115_31,hv115_32,hv115_33,hv115_34,hv115_35
0,100101305,113,196202,113,121,121,1,34,4,-80750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100101345,113,196202,113,121,121,1,34,3,110480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100101383,113,196202,113,121,121,1,34,3,131040,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100101334,113,196202,113,121,121,1,34,3,-879110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100101356,113,196202,113,121,121,1,34,4,333370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636694,3700401549,415,50597,415,41,41,1,34,5,-103691,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
636695,3700401554,415,50597,415,41,41,1,35,5,1076310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
636696,3700401544,415,50597,415,41,41,1,34,5,660059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
636697,3700401535,415,50597,415,41,41,1,34,4,644960,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
636698,3700401592,415,50597,415,41,41,1,35,3,244230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dataset = dataset.reset_index()

In [7]:
dhs_districts = pd.concat([india_dhs, dataset], axis = 1)
dhs_districts

,hhid,hv001,hv005,hv021,hv022,hv023,hv206,hv213,hv216,hv271,...,hv115_29,hv115_30,hv115_31,hv115_32,hv115_33,hv115_34,hv115_35,index,hv005,shdist
0,100101305,113,196202,113,121,121,1,34,4,-80750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,196202,kupwara
1,100101345,113,196202,113,121,121,1,34,3,110480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,196202,kupwara
2,100101383,113,196202,113,121,121,1,34,3,131040,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,196202,kupwara
3,100101334,113,196202,113,121,121,1,34,3,-879110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,196202,kupwara
4,100101356,113,196202,113,121,121,1,34,4,333370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,196202,kupwara
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636694,3700401549,415,50597,415,41,41,1,34,5,-103691,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1434,50597,kargil
636695,3700401554,415,50597,415,41,41,1,35,5,1076310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1435,50597,kargil
636696,3700401544,415,50597,415,41,41,1,34,5,660059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1436,50597,kargil
636697,3700401535,415,50597,415,41,41,1,34,4,644960,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1437,50597,kargil
636698,3700401592,415,50597,415,41,41,1,35,3,244230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1438,50597,kargil

In [8]:
list(dhs_districts.columns)

['hhid',
 'hv001',
 'hv005',
 'hv021',
 'hv022',
 'hv023',
 'hv206',
 'hv213',
 'hv216',
 'hv271',
 'hv270a',
 'hv271a',
 'hv104_01',
 'hv104_02',
 'hv104_03',
 'hv104_04',
 'hv104_05',
 'hv104_06',
 'hv104_07',
 'hv104_08',
 'hv104_09',
 'hv104_10',
 'hv104_11',
 'hv104_12',
 'hv104_13',
 'hv104_14',
 'hv104_15',
 'hv104_16',
 'hv104_17',
 'hv104_18',
 'hv104_19',
 'hv104_20',
 'hv104_21',
 'hv104_22',
 'hv104_23',
 'hv104_24',
 'hv104_25',
 'hv104_26',
 'hv104_27',
 'hv104_28',
 'hv104_29',
 'hv104_30',
 'hv104_31',
 'hv104_32',
 'hv104_33',
 'hv104_34',
 'hv104_35',
 'hv105_01',
 'hv105_02',
 'hv105_03',
 'hv105_04',
 'hv105_05',
 'hv105_06',
 'hv105_07',
 'hv105_08',
 'hv105_09',
 'hv105_10',
 'hv105_11',
 'hv105_12',
 'hv105_13',
 'hv105_14',
 'hv105_15',
 'hv105_16',
 'hv105_17',
 'hv105_18',
 'hv105_19',
 'hv105_20',
 'hv105_21',
 'hv105_22',
 'hv105_23',
 'hv105_24',
 'hv105_25',
 'hv105_26',
 'hv105_27',
 'hv105_28',
 'hv105_29',
 'hv105_30',
 'hv105_31',
 'hv105_32',
 'hv105_33',
 'hv105_34',
 'hv105_35',
 'hv106_01',
 'hv106_02',
 'hv106_03',
 'hv106_04',
 'hv106_05',
 'hv106_06',
 'hv106_07',
 'hv106_08',
 'hv106_09',
 'hv106_10',
 'hv106_11',
 'hv106_12',
 'hv106_13',
 'hv106_14',
 'hv106_15',
 'hv106_16',
 'hv106_17',
 'hv106_18',
 'hv106_19',
 'hv106_20',
 'hv106_21',
 'hv106_22',
 'hv106_23',
 'hv106_24',
 'hv106_25',
 'hv106_26',
 'hv106_27',
 'hv106_28',
 'hv106_29',
 'hv106_30',
 'hv106_31',
 'hv106_32',
 'hv106_33',
 'hv106_34',
 'hv106_35',
 'hv108_01',
 'hv108_02',
 'hv108_03',
 'hv108_04',
 'hv108_05',
 'hv108_06',
 'hv108_07',
 'hv108_08',
 'hv108_09',
 'hv108_10',
 'hv108_11',
 'hv108_12',
 'hv108_13',
 'hv108_14',
 'hv108_15',
 'hv108_16',
 'hv108_17',
 'hv108_18',
 'hv108_19',
 'hv108_20',
 'hv108_21',
 'hv108_22',
 'hv108_23',
 'hv108_24',
 'hv108_25',
 'hv108_26',
 'hv108_27',
 'hv108_28',
 'hv108_29',
 'hv108_30',
 'hv108_31',
 'hv108_32',
 'hv108_33',
 'hv108_34',
 'hv108_35',
 'hv115_01',
 'hv115_02',
 'hv115_03',
 'hv115_04',
 'hv115_05',
 'hv115_06',
 'hv115_07',
 'hv115_08',
 'hv115_09',
 'hv115_10',
 'hv115_11',
 'hv115_12',
 'hv115_13',
 'hv115_14',
 'hv115_15',
 'hv115_16',
 'hv115_17',
 'hv115_18',
 'hv115_19',
 'hv115_20',
 'hv115_21',
 'hv115_22',
 'hv115_23',
 'hv115_24',
 'hv115_25',
 'hv115_26',
 'hv115_27',
 'hv115_28',
 'hv115_29',
 'hv115_30',
 'hv115_31',
 'hv115_32',
 'hv115_33',
 'hv115_34',
 'hv115_35',
 'index',
 'hv005',
 'shdist']

In [300]:
dhs_districts_copy = dhs_districts.copy()

In [301]:
dhs_districts_copy['sum_male_1'] = (dhs_districts_copy[dhs_districts_copy.columns[12:47]] == 1.0).sum(axis=1)
dhs_districts_copy['sum_female_2'] = (dhs_districts_copy[dhs_districts_copy.columns[12:47]] == 2.0).sum(axis=1)
dhs_districts_copy['sum_transgender_3'] = (dhs_districts_copy[dhs_districts_copy.columns[12:47]] == 3.0).sum(axis=1)
dhs_districts_copy['male:female'] = dhs_districts_copy['sum_male_1']/dhs_districts_copy['sum_female_2']
dhs_districts_copy

#ignoring transgenders because there were only 6 of them in 636k rows

,hhid,hv001,hv005,hv021,hv022,hv023,hv206,hv213,hv216,hv271,...,hv115_33,hv115_34,hv115_35,index,hv005,shdist,sum_male_1,sum_female_2,sum_transgender_3,male:female
0,100101305,113,196202,113,121,121,1,34,4,-80750,...,NaN,NaN,NaN,0,196202,kupwara,2,3,0,0.666667
1,100101345,113,196202,113,121,121,1,34,3,110480,...,NaN,NaN,NaN,1,196202,kupwara,3,1,0,3.000000
2,100101383,113,196202,113,121,121,1,34,3,131040,...,NaN,NaN,NaN,2,196202,kupwara,2,3,0,0.666667
3,100101334,113,196202,113,121,121,1,34,3,-879110,...,NaN,NaN,NaN,3,196202,kupwara,3,2,0,1.500000
4,100101356,113,196202,113,121,121,1,34,4,333370,...,NaN,NaN,NaN,4,196202,kupwara,3,3,0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636694,3700401549,415,50597,415,41,41,1,34,5,-103691,...,NaN,NaN,NaN,1434,50597,kargil,3,4,0,0.750000
636695,3700401554,415,50597,415,41,41,1,35,5,1076310,...,NaN,NaN,NaN,1435,50597,kargil,3,5,0,0.600000
636696,3700401544,415,50597,415,41,41,1,34,5,660059,...,NaN,NaN,NaN,1436,50597,kargil,5,3,0,1.666667
636697,3700401535,415,50597,415,41,41,1,34,4,644960,...,NaN,NaN,NaN,1437,50597,kargil,4,2,0,2.000000
636698,3700401592,415,50597,415,41,41,1,35,3,244230,...,NaN,NaN,NaN,1438,50597,kargil,3,2,0,1.500000

In [302]:
dhs_districts_104 = dhs_districts_copy[["sum_male_1", "sum_female_2", "shdist"]]
dhs_districts_104_gp = dhs_districts_104.groupby("shdist").agg(sum)
dhs_districts_104_gp['male:female'] = dhs_districts_104_gp['sum_male_1']/dhs_districts_104_gp['sum_female_2']
dhs_districts_104_gp

             sum_male_1  sum_female_2  male:female
shdist
adilabad           1814          1816     0.998899
agar malwa         1537          1457     1.054907
agra               2544          2403     1.058677
ahmadabad          2098          1954     1.073695
ahmadnagar         2030          1955     1.038363
...                 ...           ...          ...
yadgir             2467          2502     0.986011
yamunanagar        2344          2147     1.091756
yanam              1588          1714     0.926488
yavatmal           1877          1855     1.011860
zunheboto          1368          1513     0.904164

[700 rows x 3 columns]

In [303]:
dhs_districts_copy['sum_ages'] = (dhs_districts_copy[dhs_districts_copy.columns[47:82]]).median(axis=1)
dhs_districts_105 = dhs_districts_copy[["sum_ages", "shdist"]]
dhs_districts_105_gp = dhs_districts_105.groupby("shdist").agg('mean')
dhs_districts_105_gp

#took median of ages and then the mean of these for each district
# dhs_districts_copy['Column105'] = dhs_districts_copy[dhs_districts_copy.columns[47:82]].apply(lambda x: ','.join(x.dropna().astype(str)),axis=1)

              sum_ages
shdist
adilabad     33.611172
agar malwa   34.840590
agra         26.975636
ahmadabad    35.756623
ahmadnagar   36.590034
...                ...
yadgir       28.419248
yamunanagar  32.123362
yanam        35.516866
yavatmal     35.361993
zunheboto    40.250000

[700 rows x 1 columns]

In [304]:
# dhs_districts_copy[dhs_districts_copy.columns[82:117]]


#highest level of education attained
#  0  No education, preschool
#     1  Primary
#     2  Secondary
#     3  Higher

In [314]:
dhs_districts_copy['no education/preschool'] = (dhs_districts_copy[dhs_districts_copy.columns[82:117]] == 0).sum(axis=1)
dhs_districts_copy['primary'] = (dhs_districts_copy[dhs_districts_copy.columns[82:117]] == 1).sum(axis=1)
dhs_districts_copy['secondary'] = (dhs_districts_copy[dhs_districts_copy.columns[82:117]] == 2).sum(axis=1)
dhs_districts_copy['higher'] = (dhs_districts_copy[dhs_districts_copy.columns[82:117]] == 3).sum(axis=1)
dhs_districts_copy['unknown'] = (dhs_districts_copy[dhs_districts_copy.columns[82:117]] == 8).sum(axis=1)
dhs_districts_106 = dhs_districts_copy[["no education/preschool", "primary", "secondary", "higher", "unknown", "shdist"]]
dhs_districts_106_gp = dhs_districts_106.groupby("shdist").agg('sum')
dhs_districts_106_gp["Common Education Status"] = dhs_districts_106_gp.idxmax(axis = 1)
dhs_districts_106_gp
#how to work with this type of categorical data??

,no education/preschool,primary,secondary,higher,unknown,Common Education Status
shdist,,,,,,
adilabad,1337,696,1261,335,1,no education/preschool
agar malwa,1035,768,1053,138,0,secondary
agra,1519,1213,1717,493,5,secondary
ahmadabad,758,766,1806,719,3,secondary
ahmadnagar,829,842,1793,520,1,secondary
...,...,...,...,...,...,...
yadgir,2267,1046,1327,329,0,no education/preschool
yamunanagar,924,946,2080,537,4,secondary
yanam,738,689,1359,516,0,secondary
yavatmal,781,947,1658,346,0,secondary
zunheboto,498,824,1359,200,0,secondary

In [315]:
dhs_district_unmasked = (dhs_districts_copy[dhs_districts_copy.columns[47:82]])
dhs_district_unmasked = dhs_district_unmasked.mask(dhs_district_unmasked <= 18.0)
dhs_district_unmasked_updated = pd.DataFrame(np.where(dhs_district_unmasked >= 18, 1, 0), columns = dhs_district_unmasked.columns)
dhs_district_unmasked_updated

,hv105_01,hv105_02,hv105_03,hv105_04,hv105_05,hv105_06,hv105_07,hv105_08,hv105_09,hv105_10,...,hv105_26,hv105_27,hv105_28,hv105_29,hv105_30,hv105_31,hv105_32,hv105_33,hv105_34,hv105_35
0,1,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636694,1,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
636695,1,1,0,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
636696,1,1,1,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
636697,1,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
636698,1,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [316]:
dhs_districts_108_rows = dhs_districts_copy[dhs_districts_copy.columns[117:152]]
dhs_districts_108_rows = dhs_districts_108_rows.fillna(0)
dhs_districts_108_rows.astype('int64').dtypes
dhs_districts_108_rows

,hv108_01,hv108_02,hv108_03,hv108_04,hv108_05,hv108_06,hv108_07,hv108_08,hv108_09,hv108_10,...,hv108_26,hv108_27,hv108_28,hv108_29,hv108_30,hv108_31,hv108_32,hv108_33,hv108_34,hv108_35
0,8,0.0,15.0,13.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10,5.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10,0.0,14.0,12.0,10.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10,6.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,8,3.0,14.0,11.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636694,0,0.0,10.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
636695,0,0.0,0.0,15.0,15.0,12.0,12.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
636696,17,12.0,15.0,13.0,12.0,12.0,10.0,12.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
636697,0,0.0,15.0,12.0,10.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
636698,9,0.0,17.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [317]:
dhs_districts_108_aged = pd.DataFrame(dhs_district_unmasked_updated.values*dhs_districts_108_rows.values, columns=dhs_district_unmasked_updated.columns, index=dhs_district_unmasked_updated.index)
dhs_districts_108_aged

,hv105_01,hv105_02,hv105_03,hv105_04,hv105_05,hv105_06,hv105_07,hv105_08,hv105_09,hv105_10,...,hv105_26,hv105_27,hv105_28,hv105_29,hv105_30,hv105_31,hv105_32,hv105_33,hv105_34,hv105_35
0,8.0,0.0,15.0,13.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10.0,0.0,14.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,8.0,3.0,14.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636694,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
636695,0.0,0.0,0.0,15.0,15.0,12.0,12.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
636696,17.0,12.0,15.0,13.0,12.0,0.0,0.0,12.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
636697,0.0,0.0,15.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
636698,9.0,0.0,17.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [318]:
#Education completed in single years
dhs_districts_108_aged["shdist"] = dhs_districts_copy["shdist"]
dhs_districts_108_gp = dhs_districts_108_aged.groupby("shdist").agg('mean')
dhs_districts_108_gp


#Have ignored children in this

,hv105_01,hv105_02,hv105_03,hv105_04,hv105_05,hv105_06,hv105_07,hv105_08,hv105_09,hv105_10,...,hv105_26,hv105_27,hv105_28,hv105_29,hv105_30,hv105_31,hv105_32,hv105_33,hv105_34,hv105_35
shdist,,,,,,,,,,,,,,,,,,,,,
adilabad,5.485214,4.294633,3.493976,1.854326,0.499452,0.289157,0.236583,0.177437,0.084337,0.036145,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
agar malwa,4.818820,2.639045,3.540730,1.612360,0.530899,0.512640,0.272472,0.130618,0.075843,0.007022,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
agra,7.056144,4.368644,4.690678,2.619703,1.063559,0.860169,0.648305,0.509534,0.234110,0.126059,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ahmadabad,8.491170,6.791391,5.731788,3.467991,1.282561,0.830022,0.546358,0.247241,0.157837,0.096026,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ahmadnagar,7.164213,5.396376,5.226501,2.966025,1.060023,0.677237,0.585504,0.505096,0.250283,0.113250,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yadgir,3.148230,2.763274,3.629425,2.293142,0.881637,0.775442,0.607301,0.460177,0.240044,0.143805,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
yamunanagar,6.813319,6.247817,6.265284,4.139738,1.399563,1.103712,0.927948,0.684498,0.244541,0.090611,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
yanam,6.540805,6.504897,4.233950,2.015234,0.522307,0.199129,0.133841,0.052231,0.019587,0.007617,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
yavatmal,6.401972,5.580504,4.308872,2.596933,0.856517,0.621030,0.281490,0.141292,0.070099,0.055860,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zunheboto,6.603896,5.703463,2.514069,1.034632,0.333333,0.103896,0.041126,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
# Current marital status                        
#                                0  Never married
#                                1  Married
#                                2  Living together
#                                3  Widowed
#                                4  Divorced
#                                5  Not living together
#                                8  Don't know

In [319]:
# dhs_districts_copy[dhs_districts_copy.columns[152:187]]
# dhs_districts_copy['Never Married'] = (dhs_districts_copy['hv115_01'] == 0)
# dhs_districts_copy['Married'] = (dhs_districts_copy[dhs_districts_copy['hv115_01']] == 1).sum(axis=1)
# # dhs_districts_copy['Living Together'] = (dhs_districts_copy[dhs_districts_copy.columns[152:187]] == 2).sum(axis=1)
# dhs_districts_copy['Widowed'] = (dhs_districts_copy[dhs_districts_copy['hv115_01']] == 3).sum(axis=1)
# dhs_districts_copy['Divorced'] = (dhs_districts_copy[dhs_districts_copy['hv115_01']] == 4).sum(axis=1)
# dhs_districts_copy['Not living together'] = (dhs_districts_copy[dhs_districts_copy['hv115_01']] == 5).sum(axis=1)
#there were no people living together noted down, so removed from this

In [325]:
conditions = [
    (dhs_districts_copy['hv115_01'] == 0),
    (dhs_districts_copy['hv115_01'] == 1),
    (dhs_districts_copy['hv115_01'] == 3),
    (dhs_districts_copy['hv115_01'] == 4),
    (dhs_districts_copy['hv115_01'] == 5)
]

results = ["Never Married", "Married", "Widowed", "Divorced", "Not living together" ]

dhs_districts_copy['Marital Status of Household Head'] = np.select(conditions, results)

In [341]:
dhs_districts_copy["Marital Status of Household Head"].astype('string').dtypes

string[python]

In [373]:
dhs_districts_115 = dhs_districts_copy[["hv115_01", "shdist", "Marital Status of Household Head"]]
dhs_districts_115_gp = dhs_districts_115.groupby("shdist").agg(lambda x:x.value_counts().index[0])
dhs_districts_115_gp
#look into if it counts children or not, who is the head of the household? is the head of the household married or not? look at the fraction of heads of households that are married
#instead of all 35 hv115, do it only for hv_115_01

             hv115_01 Marital Status of Household Head
shdist
adilabad          1.0                          Married
agar malwa        1.0                          Married
agra              1.0                          Married
ahmadabad         1.0                          Married
ahmadnagar        1.0                          Married
...               ...                              ...
yadgir            1.0                          Married
yamunanagar       1.0                          Married
yanam             1.0                          Married
yavatmal          1.0                          Married
zunheboto         1.0                          Married

[700 rows x 2 columns]

In [399]:
# list(dhs_districts_copy.columns)

In [400]:
dhs_districts_hv206_gp = dhs_districts_copy[["hv206", "shdist"]].groupby("shdist").agg('sum') #electricity
# dhs_districts_hv207_gp = dhs_districts_copy[["hv207", "shdist"]].groupby("shdist").agg('sum')
# dhs_districts_hv208_gp = dhs_districts_copy[["hv208", "shdist"]].groupby("shdist").agg('sum')
# dhs_districts_hv209_gp = dhs_districts_copy[["hv209", "shdist"]].groupby("shdist").agg('sum')
# dhs_districts_hv210_gp = dhs_districts_copy[["hv210", "shdist"]].groupby("shdist").agg('sum')
dhs_districts_hv213_gp = dhs_districts_copy[["hv213", "shdist"]].groupby("shdist").agg('sum') #material of floor 
dhs_districts_hv216_gp = dhs_districts_copy[["hv216", "shdist"]].groupby("shdist").agg('mean') #number of rooms for sleeping
dhs_districts_hv271_gp = dhs_districts_copy[["hv271", "shdist"]].groupby("shdist").agg('mean')#wealth index factor 
dhs_districts_hv271_gp = dhs_districts_hv271_gp.round(3)

In [401]:
dhs_districts_group = pd.concat([dhs_districts_104_gp, dhs_districts_105_gp, dhs_districts_108_gp, dhs_districts_115_gp,dhs_districts_hv206_gp, 
                                 dhs_districts_hv213_gp, dhs_districts_hv216_gp, dhs_districts_hv271_gp], axis = 1)
dhs_districts_group

,sum_male_1,sum_female_2,male:female,sum_ages,hv105_01,hv105_02,hv105_03,hv105_04,hv105_05,hv105_06,...,hv105_32,hv105_33,hv105_34,hv105_35,hv115_01,Marital Status of Household Head,hv206,hv213,hv216,hv271
shdist,,,,,,,,,,,,,,,,,,,,,
adilabad,1814,1816,0.998899,33.611172,5.485214,4.294633,3.493976,1.854326,0.499452,0.289157,...,0.0,0.0,0.0,0.0,1.0,Married,902,25192,1.506024,3815.900
agar malwa,1537,1457,1.054907,34.840590,4.818820,2.639045,3.540730,1.612360,0.530899,0.512640,...,0.0,0.0,0.0,0.0,1.0,Married,706,17819,1.820225,-182973.264
agra,2544,2403,1.058677,26.975636,7.056144,4.368644,4.690678,2.619703,1.063559,0.860169,...,0.0,0.0,0.0,0.0,1.0,Married,926,26856,1.992585,437865.261
ahmadabad,2098,1954,1.073695,35.756623,8.491170,6.791391,5.731788,3.467991,1.282561,0.830022,...,0.0,0.0,0.0,0.0,1.0,Married,901,29865,1.816777,1066334.918
ahmadnagar,2030,1955,1.038363,36.590034,7.164213,5.396376,5.226501,2.966025,1.060023,0.677237,...,0.0,0.0,0.0,0.0,1.0,Married,822,25739,1.582106,227211.174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yadgir,2467,2502,0.986011,28.419248,3.148230,2.763274,3.629425,2.293142,0.881637,0.775442,...,0.0,0.0,0.0,0.0,1.0,Married,894,25318,1.659292,-244108.279
yamunanagar,2344,2147,1.091756,32.123362,6.813319,6.247817,6.265284,4.139738,1.399563,1.103712,...,0.0,0.0,0.0,0.0,1.0,Married,914,27505,1.993450,1038575.439
yanam,1588,1714,0.926488,35.516866,6.540805,6.504897,4.233950,2.015234,0.522307,0.199129,...,0.0,0.0,0.0,0.0,1.0,Married,917,30636,1.583243,926694.619
yavatmal,1877,1855,1.011860,35.361993,6.401972,5.580504,4.308872,2.596933,0.856517,0.621030,...,0.0,0.0,0.0,0.0,1.0,Married,878,23050,1.756846,47725.214
zunheboto,1368,1513,0.904164,40.250000,6.603896,5.703463,2.514069,1.034632,0.333333,0.103896,...,0.0,0.0,0.0,0.0,1.0,Married,914,21524,2.521645,-562606.347

In [405]:
# dhs_districts_group.to_csv("/Users/ishaarora/Desktop/DHS_India.csv")